In [1]:
import pandas as pd

In [31]:
ames = pd.read_csv('ameshouse.txt', sep=" ")

In [19]:
from collections import Counter

with open("ameshouse_README.txt") as f:
    file_split = [line.split() for line in f]

file_split_flatten = [val for sublist in file_split for val in sublist]

count_dict = dict(zip(Counter(file_split_flatten).keys(), Counter(file_split_flatten).values()))

In [32]:
r = pd.read_csv('ameshouse_README.txt', sep="\n")

    MSSubClass: Identifies the type of dwelling involved in the sale.\t
0                  20\t1-STORY 1946 & NEWER ALL STYLES
1                             30\t1-STORY 1945 & OLDER
2                40\t1-STORY W/FINISHED ATTIC ALL AGES
3                45\t1-1/2 STORY - UNFINISHED ALL AGES
4                    50\t1-1/2 STORY FINISHED ALL AGES
..                                                 ...
393         Abnorml\tAbnormal Sale -  trade, forecl...
394                   AdjLand\tAdjoining Land Purchase
395         Alloca\tAllocation - two linked propert...
396                Family\tSale between family members
397         Partial\tHome was not completed when la...

[398 rows x 1 columns]